@model Civilization.Models.Player


<h2>@Html.ActionLink("Logout", "Logout", "Account")</h2>

<div>
    <p>Name: @Model.Name</p>
    <p>Moves Left: @Model.AvailableMoves</p>
    <p id="wood-hud">Wood: @Model.Wood</p>
    <p id="metal-hud">Metal: @Model.Metal</p>
    <p id="stone-hud">Stone: @Model.Stone</p>
    <p id="gold-hud">Gold: @Model.Gold</p>
</div>