@model Civilization.Models.Player

<div>
    <p>Name: @Model.Name</p>
    <p>Moves Left: @Model.AvailableMoves</p>
    <p>Wood: @Model.Wood</p>
    <p>Metal: @Model.Metal</p>
    <p>Stone: @Model.Stone</p>
    <p>Gold: @Model.Gold</p>
</div>