@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Civilization.ViewModels.GameMapViewModel

<h1>Game Map</h1>
@Html.ActionLink("Log Out and Clear Db", "LogOutAndClearDb", "Account")

@Html.Partial("Hud", @Model.Player)
<div class="btnArea">
    <button type="button" class="playerAdvancement">@Model.Player.Name's Advancements</button>
    <button type="button" class="allAdvancement">Advancement List</button>
    <button type="button" class="endTurn">End Turn</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.endTurn').click(function(){
            $.ajax({
                type: 'GET',
                data: { id: @Model.Player.Id },
                url: '@Url.Action("EndTurn")',
                success: function (result) {
                    $("#moves-hud").html("Moves Left: " + result);
                }
            });
        });
    $('.playerAdvancement').click(function () {
        $('#ShowDisplay').toggle();
        $.ajax({
            type: 'GET',
            data: {id: @Model.Player.Id},
            dataType: 'json',
            contentType: 'application/json',
            url: '@Url.Action("AdvancementDisplay")',
            success: function (result) {
            var resultString = '<p><strong>' + result.name + 's Resources:</strong> Gold: ' + result.gold + ' | Wood: ' + result.wood + ' | Stone: ' + result.stone + ' | Metal: ' + result.metal + '</p><p><strong>' + result.name + 's  Bases:</strong> Established: ' + result.basesOwned + ' | Available: ' + result.availableBase;
                $('#ShowDisplay').html(resultString);
                }
            });
    });
     $('.allAdvancement').click(function () {
         $('#ShowAll').toggle();
         $.ajax({
             type: 'GET',
             dataType: 'json',
             data: {id: @Model.Player.Id},
             contentType: 'application.json',
             url: '@Url.Action("AllAdvancement")',
             success: function (result) {
                 var resultString = '<ul>';
                 for (var i = 0; i < result.gamePieces.length; i++) {
                     resultString += '<li>'+ result.gamePieces[i].type + ' - ' + result.gamePieces[i].name + ' - <button type="button" class="showTechInfo">Show Info</button><button type="button" class="addToQueue" id="' + result.gamePieces[i].id + '">Add To Queue</button></li>';
                 }
                 resultString += '</ul>';
                 $('#ShowAll').html(resultString);
                 $('.showTechInfo').click(function () {
                     $('#QueueMod').toggle();
                     console.log("addToQueue class clicked");
                     $.ajax({
                         type: 'GET',
                         dataType: 'json',
                         data: { id: @Model.Player.Id },
                         contentType: 'appliction/json',
                         url: '@Url.Action("ShowQueCounter")',
                         success: function (result) {
                             var resultString = '<div class="well queCounter">';
                             resultString += '<h3>Advancement Name: ' + result.gpName + '</h3><h3>Type of Advancement: ' + result.gpType + '</h3><h3>Turns to Utilize: ' + result.gpTurnCost + '</h3>';
                             resultString += '</div>';
                             $('#QueueMod').html(resultString);
                         }
                     });
                 });                 
                 
         $('.addToQueue').click(function () {
                    var gameId = this.id;
         $.ajax({
             type: 'GET',
             dataType: 'json',
             data: { id: gameId, playerId: @Model.Player.Id },
             contentType: 'application/json',
             url: '@Url.Action("AddToQueue")',
             success: function (result) {
                 
                 var resultString = '<h2>QUEUE</h2><ul>';
                 for(var i = 0; i < result.length; i++)
                 {
                     resultString += '<li> Name: ' + result[i].gamePiece.name + ' Turns Till Done: ' + result[i].gamePiece.turnCost + '</li>';
                     
                 }
                 //$.each(result, function(index, gamePiece) {
                 //    resultString += '<li> Name: ' + gamePiece.name + ' Turns Till Done: ' + gamePiece.turnCost + '</li>';  
                 //});
                 resultString += '</ul>';
                 $('#ShowQueue').html(resultString);
             }
         });
     });
             }// End of SUCCESS Bracket

         });
     });
 });// Ending JQuery Bracket
</script>
<div id="ShowDisplay"></div>    
<div id="ShowAll"></div>  
<div id="QueueMod"></div>
<div id="ShowQueue"></div>
<div class="divTable" style="border: 1px solid #000;">
    <div class="divTableBody">
        @for (var i = 0; i < 10; i++)
        {
            <div class="divTableRow">
                @for (var x = 1; x < 11; x++)
                {
                    var chord = (i * 10) + x;
                    @if (Model.BoardPieces[chord - 1].ResourceType == "Stone")
                    {
                        <div id=@chord class="divTableCell Stone">&nbsp;</div>
                    }
                    else if (Model.BoardPieces[chord - 1].ResourceType == "Wood")
                    {
                        <div id=@chord class="divTableCell Wood">&nbsp;</div>
                    }
                    else if (Model.BoardPieces[chord - 1].ResourceType == "Metal")
                    {
                        <div id=@chord class="divTableCell Metal">&nbsp;</div>
                    }
                    else if (Model.BoardPieces[chord - 1].ResourceType == "Gold")
                    {
                        <div id=@chord class="divTableCell Gold">&nbsp;</div>
                    }
                    else if (Model.BoardPieces[chord - 1].ResourceType == "None" && Model.BoardPieces[chord - 1].PlayerHere == false)
                    {
                        <div id=@chord class="divTableCell None">&nbsp;</div>
                    }
                    else
                    {
                        <div id=@chord class="divTableCell playerPresent">&nbsp;</div>

                    }
                }
            </div>
        }
    </div>
    <div id=newPosition>New Position</div>
</div>
